/* Body */

body {
    background-color: #32393F !important; /* 32475B */
}

html {
    scroll-behavior: smooth;
    transition-duration: 2s;
}

/* Navigation Bar */

.navbar {
    padding: 0.8rem;
    transition-duration: 2s;
}

.navbar-custom { 
    background-color: #1D2E3F !important; 
} 

.navbar-nav li {
    padding-right: 5px !important;
}

.nav-link {
    font-size: 1.6em !important;
}

.navbar-dark .navbar-text a{
    color:#fff;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #5AB3FF !important;
}

.nav-link.disabled {
    color:rgba(255,255,255,.55) !important;
}

.navbar-icon {
    float: right; 
    padding-left: 10px;
    width: 50px; 
    height: 40px;
}

/* Hero */

#container {
    position: relative;
    width: 100%;
    z-index: 0;
    border-bottom: 2px solid white;
}

#hero {
    position: absolute;
    top: 0.3%;
    left: 0.1%;  
}


/* Industry Knowledge */

.display-4 {
    color: white;
}

.industryhr { 
    border-top: 2px solid white;
    margin: 3em 1.5em;
    margin: 1em 1.5em;
}

table {
    table-layout: fixed;
    width: 100%;  
}

th,td {
    word-wrap: break-word;
    width: 100%;
}

/* Projects */

a.projects {
    color: #00D1FF;
}

a.projects:hover {
    color: #009FFF;
}