* {
    color: white;
}

/* Body */

body {
    background-color: #32393F !important; /* 32475B */
}

/* Navigation Bar */

.navbar {
    padding: 0.8rem;
}

.navbar-custom { 
    background-color: #1D2E3F !important; 
} 

.navbar-nav li {
    padding-right: 5px !important;
}

.nav-link {
    font-size: 1.7em !important;
}

.navbar-dark .navbar-text a{
    color:#fff;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #5AB3FF !important;
}

.nav-link.disabled {
    color:rgba(255,255,255,.55) !important;
}

.navbar-icon {
    float: right; 
    padding-left: 10px;
    width: 50px; 
    height: 40px;
}

/* Main Image */

.mainImage {
    width: 100%;
    z-index: 0;
}

/* Main Image Caption */

.jumbotron {
    background-color: #263B51 !important;
    border-radius: 0 !important;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 0.5em !important;
}

.lead {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    color: white !important;
    text-align: center !important;
}

/* Industry Knowledge */

.industryColumn {
    float: left;
    width: 12.5%;
    padding: 10px;
  }
  
.industryRow::after {
    content: "";
    clear: both;
    display: table;
  }

.industryImage {
    float: left;
    width:  100%;
    height: 100%;
}

.industryhr { 
    border-top: 2px solid white;
    margin: 1em 1.5em;
}

/* Projects */

.myProjects {
    word-wrap: break-word;
}

a.projects {
    color: #00D1FF;
}

a.projects:hover {
    color: #009FFF;
}